html {
    font-size: 125%;
}

@mixin mainFont ($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/20) * 1rem;
    font-family: 'Abril Fatface', cursive;
    color:$black;
    text-transform: capitalize;
}

@mixin bodyFont ($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/20) * 1rem;
    font-family: 'Lato', sans-serif;
}

// General Font Styles

body,
p {
    @include bodyFont (20);
}

a {
    color:$black;
    text-decoration: none;
}

p,
h2 {
    margin:0;
    padding:0;
}

h2 {
    @include mainFont (50);
    line-height:1.2;
}

// Header Font Styles 
h1 {
    @include mainFont (100);
    line-height:1;
    margin:25px 0;
    padding:0;
}

.start-quiz {
    text-align: center;
}

// Section Font Styles

.submit-form,
.next,
.start-quiz,
label {
    text-transform: uppercase;
}

.submit-form{
    @include bodyFont (40); 
}

.read-more {
    text-decoration: underline;
}

.restart-title {
    @include mainFont (40);
}

.error-message p:first-child {
    @include mainFont (120);
}

// Footer Styles 

footer p {
    @include bodyFont (12); 
    color:$black;
    text-align: center;
}





// Media Queries 

@media (max-width:1350px) {
    h1 {
        margin:10px 0;
    }
    .header-text {
        text-align: center;
    }
}

@media (max-width:1250px) {
    h1 {
        @include mainFont (60);
    }
    .header-text p {
        @include bodyFont (18);
        margin:0 150px;
    }
    .recipe-credit p {
        @include bodyFont (16);
    }
    
}

@media (max-width:1000px) {
    .header-text p {
        margin:0 50px;
    } 
}

@media (max-width:800px) {
    .header-text p {
        margin:10px 0;
    }
    h2 {
        @include mainFont (30);
    }
    .submit-form{
        @include bodyFont (25);
    }
    ul,
    ol {
        margin:0;
        margin-left:5px;
        padding:6px;
    }
    li {
        @include bodyFont (16);
    }
    .error-message  {
        p:first-child {
            @include mainFont (80);
            line-height: 1;
        }
    }
}

@media (max-width:400px) {
    h1 {
        @include mainFont (45);
    } 
    .recipe-credit p {
        @include bodyFont (13);
    }
}

