html {
    font-size: 125%;
}

@mixin mainFont ($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/20) * 1rem;
    font-family: 'Abril Fatface', cursive;
    color:$black;
    text-transform: capitalize;
}

@mixin bodyFont ($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/20) * 1rem;
    font-family: 'Lato', sans-serif;
}