html {
    font-size: 125%;
}

@mixin mainFont ($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/20) * 1rem;
    font-family: 'Abril Fatface', cursive;
    color:$black;
    text-transform: capitalize;
}

@mixin bodyFont ($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/20) * 1rem;
    font-family: 'Lato', sans-serif;
}

body {
    @include bodyFont (20);
}

a {
    color:$black;
    text-decoration: none;
}

h1 {
    @include mainFont (100);
    line-height:1;
    margin:25px 0;
    padding:0;
}

h2 {
    @include mainFont (50);
    line-height:1.2;
}

p,
h2 {
    margin:0;
    padding:0;
}

.submit-form,
.next,
.start-quiz,
label {
    text-transform: uppercase;
}

.submit-form{
    @include bodyFont (40); 
}

.aside-title {
    @include mainFont (40);
}

.error-message  {
    p:first-child {
    @include mainFont (120);
    }
    p {
    @include bodyFont (20); 
    }
}

footer p {
    @include bodyFont (12); 
    color:$white;
    text-align: center;
}



.start-quiz {
    text-align: center;
}