@import "setup"; 
@import "variables";
@import "typography";
@import "buttons";

// General Styles 
.wrapper {
    width:80%;
    max-width: 1440px;
    margin: 0 auto;
}

img {
    width:100%;
    max-width:100%;
}

section {
    padding:75px 0;
}

.hide {
    display: none;
}

// Header Styles 

header {
    width:100%;
    height:100vh;
    background:url(../assets/header-image.png) 15% / contain no-repeat $white;
}

.header-content {
    @include alignment(column, flex-end, flex-end, left);
    .header-text {
        width:50%;
        background-color: $white;
        border:$border;
        margin:50px;
        padding:50px;
    }
}

// Section - Question Styles

.section--question {
    display: flex;
    .question-details, 
    .question-image {
        width: 50%;
    }
}

.question-image {
    width:100%;
    height:400px;
}

.protein-image {
    background:url(../assets/pizza.png) center /contain no-repeat $white;
}

.cook-time-image {
    background:url(../assets/kitchen-utensils.png) center /contain no-repeat $white;
}

.question-protein {
    flex-direction: row-reverse;
}

.question-cook-time {
    flex-direction: row;
}


// Form Styles
fieldset {
    border: $border;
    @include alignment (column, center, center, center);
    input[type=radio] {
        opacity: 0;
        position: absolute;
        &:checked + label {
            background-color:$secondaryColor;
        }
    }
    label {
        width:75%;
        margin:10px 0 5px 0;
        padding:25px;
        @include colors ($white, $black);
        &:hover,
        &:focus {
            background-color:$primaryColor;
        }
        &:active{
            background-color:$secondaryColor;
        }
    }
}

// Submit Section Styles

.submit-image {
    width:100%;
    height:400px;
    background:url(../assets/pots-and-pans.png) center /contain no-repeat $white;
}

// Recipe Results Section Styles 

.result-recipe-image,
.recipe-details,
.recipe-title,
.error-message {
    border:$border;
}

.recipe-title,
.error-message {
    padding:25px 0;
    margin:20px 0;
    text-align: center;
}

.user-input-recipe {
    @include alignment(row, center, space-between, left);
    .recipe-details {
        width: 50%;
        padding:25px;
        li {
            margin: 5px 0;
        }
    }
}

.recipe-aside {
    width: calc(50% - 15px);
    margin-right:15px;
    .recipe-background-image {
        width:100%;
        height:200px;
        background:url(../assets/cheese-plate.png) center /contain no-repeat $white;
    }
    .other-suggestions {
        width:100%;
        .social-links {
            background-color: $primaryColor;
            height:200px;
        }
    }
}  

// Footer Styles 

footer {
    color:$white;
    text-align: center;
    background-color: $secondaryColor;
    
}

