article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 125%; }

body,
p {
  font-size: 1rem;
  font-family: 'Lato', sans-serif; }

a {
  color: #171814;
  text-decoration: none; }

p,
h2 {
  margin: 0;
  padding: 0; }

h2 {
  font-size: 2.5rem;
  font-family: 'Abril Fatface', cursive;
  color: #171814;
  text-transform: capitalize;
  line-height: 1.2; }

h1 {
  font-size: 5rem;
  font-family: 'Abril Fatface', cursive;
  color: #171814;
  text-transform: capitalize;
  line-height: 1;
  margin: 25px 0;
  padding: 0; }

.start-quiz {
  text-align: center; }

.submit-form,
.next,
.start-quiz,
label {
  text-transform: uppercase; }

.submit-form {
  font-size: 2rem;
  font-family: 'Lato', sans-serif; }

.read-more {
  text-decoration: underline; }

.restart-title {
  font-size: 2rem;
  font-family: 'Abril Fatface', cursive;
  color: #171814;
  text-transform: capitalize; }

.error-message p:first-child {
  font-size: 6rem;
  font-family: 'Abril Fatface', cursive;
  color: #171814;
  text-transform: capitalize; }

footer p {
  font-size: 0.6rem;
  font-family: 'Lato', sans-serif;
  color: #171814;
  text-align: center; }

@media (max-width: 1350px) {
  h1 {
    margin: 10px 0; }
  .header-text {
    text-align: center; } }

@media (max-width: 1250px) {
  h1 {
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive;
    color: #171814;
    text-transform: capitalize; }
  .header-text p {
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    margin: 0 150px; }
  .recipe-credit p {
    font-size: 0.8rem;
    font-family: 'Lato', sans-serif; } }

@media (max-width: 1000px) {
  .header-text p {
    margin: 0 50px; } }

@media (max-width: 800px) {
  .header-text p {
    margin: 10px 0; }
  h2 {
    font-size: 1.5rem;
    font-family: 'Abril Fatface', cursive;
    color: #171814;
    text-transform: capitalize; }
  .submit-form {
    font-size: 1.25rem;
    font-family: 'Lato', sans-serif; }
  ul,
  ol {
    margin: 0;
    margin-left: 5px;
    padding: 6px; }
  li {
    font-size: 0.8rem;
    font-family: 'Lato', sans-serif; }
  .error-message p:first-child {
    font-size: 4rem;
    font-family: 'Abril Fatface', cursive;
    color: #171814;
    text-transform: capitalize;
    line-height: 1; } }

@media (max-width: 400px) {
  h1 {
    font-size: 2.25rem;
    font-family: 'Abril Fatface', cursive;
    color: #171814;
    text-transform: capitalize; }
  .recipe-credit p {
    font-size: 0.65rem;
    font-family: 'Lato', sans-serif; } }

.wrapper {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto; }

img {
  width: 100%;
  max-width: 100%; }

section {
  padding: 75px 0; }

.hide {
  display: none; }

.start-quiz {
  color: #fefefe;
  background-color: #171814;
  width: 35%;
  padding: 15px;
  margin-top: 25px;
  display: block;
  -webkit-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease; }
  .start-quiz:hover {
    background-color: #d0973e; }
  .start-quiz:focus, .start-quiz:active {
    background-color: #a05543; }

.submit-form,
.next {
  background-color: #fefefe;
  border: 4px solid #171814;
  margin: 10px auto; }
  .submit-form:focus, .submit-form:active, .submit-form:hover,
  .next:focus,
  .next:active,
  .next:hover {
    color: #fefefe;
    background-color: #171814; }

.submit-form {
  width: 100%;
  padding: 50px; }

.next {
  padding: 10px 25px; }

.restart {
  color: #fefefe;
  background-color: #d0973e;
  display: inline-block;
  padding: 15px;
  margin-top: 25px; }
  .restart:hover, .restart:active, .restart:focus {
    background-color: #a05543; }

header {
  width: 100%;
  height: 100vh;
  background: url(../assets/header-image.png) 15%/contain no-repeat #fefefe; }

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: left; }
  .header-content .header-text {
    width: 50%;
    background-color: #fefefe;
    border: 4px solid #171814;
    margin: 50px;
    padding: 50px; }

.section--question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .section--question .question-details,
  .section--question .question-image {
    width: 50%; }

.question-image {
  width: 100%;
  height: 400px; }

.protein-image {
  background: url(../assets/pizza.png) center/contain no-repeat #fefefe; }

.cook-time-image {
  background: url(../assets/kitchen-utensils.png) center/contain no-repeat #fefefe; }

.question-protein {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.question-cook-time {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

fieldset {
  border: 4px solid #171814;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  fieldset input[type=radio] {
    opacity: 0;
    position: absolute; }
    fieldset input[type=radio]:checked + label {
      background-color: #a05543; }
  fieldset label {
    width: 75%;
    margin: 10px auto;
    padding: 25px;
    color: #fefefe;
    background-color: #171814; }
    fieldset label:hover, fieldset label:focus {
      background-color: #d0973e; }
    fieldset label:active {
      background-color: #a05543; }

.submit-image {
  width: 100%;
  height: 400px;
  background: url(../assets/pots-and-pans.png) center/contain no-repeat #fefefe; }

.result-recipe-image,
.recipe-details,
.recipe-title,
.error-message,
.restart-quiz {
  border: 4px solid #171814; }

.recipe-title,
.error-message,
.restart-quiz {
  padding: 25px 0;
  margin: 20px 0;
  text-align: center; }

.recipe-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  text-align: left; }
  .recipe-description .recipe-details {
    width: 50%;
    padding: 25px; }
    .recipe-description .recipe-details li {
      margin: 5px 0; }

.recipe-aside {
  width: calc(50% - 15px);
  margin-right: 15px; }

.recipe-credit {
  background-color: #d0973e;
  padding: 20px;
  text-align: center; }
  .recipe-credit a:hover, .recipe-credit a:focus, .recipe-credit a:active {
    color: #a05543; }

footer {
  color: #fefefe;
  text-align: center;
  background-color: #a05543; }

@media (max-width: 1350px) {
  header {
    background-position: center; }
  .header-content {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .header-content .header-text {
      width: 100%;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.95);
      margin-top: 175px;
      padding: 30px; }
  .start-quiz {
    margin: 15px auto; } }

@media (max-width: 1050px) {
  section {
    padding: 20px 0; }
  .section--question {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .section--question .question-details,
    .section--question .question-image {
      width: 100%; }
  .recipe-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
    text-align: left; }
    .recipe-description .recipe-details,
    .recipe-description .recipe-aside {
      width: 100%; }
  .recipe-details {
    padding: 10px; }
    .recipe-details li {
      margin: 2px 0; }
  .recipe-aside {
    margin-right: 0;
    position: relative; }
    .recipe-aside .recipe-credit {
      width: 50%;
      position: absolute;
      right: 10px;
      bottom: 10px;
      margin: 5px 0; } }

@media (max-width: 800px) {
  .header-content .header-text {
    text-align: left; }
  .start-quiz {
    margin: 10px 0; }
  fieldset label {
    width: 90%;
    padding: 10px; }
  .next {
    padding: 6px 25px; } }

@media (max-width: 700px) {
  .recipe-aside .recipe-credit {
    width: 70%;
    right: 5px;
    bottom: 5px;
    padding: 2px;
    background-color: #171814; }
    .recipe-aside .recipe-credit a {
      color: #fefefe; } }

@media (max-width: 600px) {
  .header-content .header-text p {
    margin: 10px 0; }
  .start-quiz {
    width: 80%; }
  .question-image {
    height: 250px; } }

@media (max-width: 400px) {
  header {
    background-size: cover; }
  .submit-form {
    padding: 10px; } }
